/* Side Panel Styles */
.side-panel {
    background: linear-gradient(45deg, #ff6b6b, #ffcc5c);
   
}

.side-panel::-webkit-scrollbar {
    display: none;
  }

.side-panel.closed {
    width: 60px;
}

.side-panel .toggle-btn {
    padding: 5px 10px;
    background: #ff4081;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
    position: relative;
    transition: background 0.3s ease-in-out;
}

.side-menu {
    list-style: none;
    overflow: auto; /* Keep scrolling active */
    scrollbar-width:thin; /* Firefox */
    -ms-overflow-style:none; /* IE and Edge */
    height: 70%;
    padding: 0;
    margin-top: 20px;
}

.side-menu li {
    margin-bottom: 15px;
}

.side-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.side-menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.icon {
    margin-right: 10px;
    color: aliceblue;
    font-size: 22px;
}

.side-panel.closed .icon {
    margin: 0;
}
