.theme-toggle-btn { 
  right: 10px;
  background-color: #ff4d6d;
  color: white;
  padding: 10px;
 
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.theme-toggle-btn:hover {
  background-color: #d43f5e;
}

/* background-color: #ff4d6d;
color: white;
padding: 10px;
border: none;
cursor: pointer;
font-weight: bold;
border-radius: 5px; */
.toggle-btn-new{
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 10px;
  display: inline-block;

}

.dark-mode {
  background: #222;
  color: white;
}

.dark-mode .hero {
  background: #444;
}
